<div class="container-fluid" >

  <!-- <div class="row">
    <mat-card style="margin-top: 5px; margin-bottom: 5px;">
        <span style="font-size: 14px; color: green;"> Logged In User: </span>
        &nbsp;&nbsp; {{userDetails.name}} ({{userDetails.userid}})
    </mat-card>
  </div> -->

  <br>

  <div class="row">

    <!-- Starting Left Panel -->
    <div class="col-sm-12 col-md-6 col-lg-3">


      <div class="container">
        <form id="frm-check-in" (ngSubmit)="clickCheckIn()">
          <mat-card>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Check-IN</mat-label>
              <input name="checkInEmp" matInput placeholder="Employee ID" [(ngModel)]="EmployeeCode" required>
              <mat-icon matSuffix>alarm_add</mat-icon>
              <mat-hint>When you ENTER the organization</mat-hint>
            </mat-form-field>
            <br>


            <button type="submit" mat-button class="btn-checkin" style="width: 100%;">Check-IN</button>

          </mat-card>
        </form>

        <br>
        <div class="justify-content-center">
          <span class="notif-msg">
          {{notificationMsg}}
          </span>
        </div>
        <br>
        <br>

        <form id="frm-check-out" (ngSubmit)="submit()">
          <mat-card>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label> Day-Shift Check-OUT</mat-label>
              <input name="checkOutEmp" matInput placeholder="Employee ID" [(ngModel)]="EmployeeCode2" required>

              <mat-icon matSuffix>alarm_on</mat-icon>
              <mat-hint>When you LEAVE the organization.</mat-hint>
            </mat-form-field>
            <br>
            <div class="form-group">
              <label>Night Shift Checkout </label> &nbsp;&nbsp;&nbsp;
              <span *ngFor="let obj of ShiftArr">
                <input type="checkbox" value = "{{obj.value}}" (change)="checkbox($event)">
              </span>
             </div>
            <button type="submit" mat-button class="btn-checkout" style="width: 100%;">Check-OUT</button>
          </mat-card>
        </form>


      </div>
    </div><!-- Ending Left part of check in & checkout -->


    <!-- Employee List Display Panel -->
    <div class="col-sm-12 col-md-6 col-lg-4">

      <mat-card style="margin-top: 5px; margin-bottom: 5px; overflow-y: scroll; height: 400px">
      <div class="row">
        <mat-action-list dense *ngFor="let emp of empDetails" style="width: 100%;">
          <button class="justify-content-start d-flex" mat-list-item (click)="getEmpData(emp)">
            <mat-icon class="{{emp.check_in}} justify-content-start"> fiber_manual_record</mat-icon>
            <mat-icon class="{{emp.check_out}} justify-content-end">fiber_manual_record</mat-icon>
            &nbsp;&nbsp;
            {{emp.full_name  + ' : ' +  emp.user_id}}
          </button>
        </mat-action-list>
      </div>
      </mat-card>
    </div><!-- Ending Middle Panel -->

    <div class="col-sm-12 col-md-6 col-lg-5"  *ngIf="openTabeData">
      <mat-card style="margin-top: 5px; margin-bottom: 5px;">
        <div class="row justify-content-center" style="font-size: 14px;">
          <span style="color: red;"> Details of Employee: </span>&nbsp;&nbsp;{{userDetails.name}} ({{userDetails.userid}})
        </div>
      </mat-card>


        <mat-card style="margin-top: 5px; margin-bottom: 5px; overflow-y: scroll; height: 400px">
        <div class="row justify-content-center">
          <table mat-table [dataSource]="dataSource" class="justify-content-center">
          <!-- Position Column -->


          <!-- Name Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef style="width: 120px;text-align: center;"> Date </th>
            <td mat-cell *matCellDef="let element" style="width: 120px;text-align: center;"> {{element.date}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="check_in_DT">
            <th mat-header-cell *matHeaderCellDef style="width: 120px;text-align: center;"> Check-In Time </th>
            <td mat-cell *matCellDef="let element" style="width: 120px;text-align: center;"> {{element.check_in_DT}}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="check_out_DT">
            <th mat-header-cell *matHeaderCellDef style="width: 120px;text-align: center;"> Check-Out Time </th>
            <td mat-cell *matCellDef="let element" style="width: 120px;text-align: center;"> {{element.check_out_DT}}
            </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef style="width: 60px;text-align: center;"> Hours </th>
            <td mat-cell *matCellDef="let element" style="width: 60px;text-align: center;"> {{element.time}} </td>
          </ng-container>

          <ng-container matColumnDef="time_class">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element" class="{{element.time_class}} ">
              <mat-icon>fiber_manual_record</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
        </mat-card>
    </div><!-- Ending Right pane; -->

  </div><!--  Ending Row -->

</div><!-- Ending Main Container -->