<div class="toolbar container-fluid">

  <div class="row header d-flex justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-12">
          <button mat-button button readonly style="font-size: 24px;" routerLink='' routerLinkActive="active">
              <img width="36px" style="margin: 1px;" alt="" src="\assets\images\img.png" />
              Gindowa
          </button>
          <span class="d-flex justify-content-start"
              style="font-size: 18px; text-align: center; margin: 5px; background-color: white; color: hotpink; font-weight: 400;"
              class="justify-content-center">
              Empowering The Rural Youth With The Dynamism Of Information Technology
              by Providing Them Opportunities To Learn, Work & Earn With Us!
          </span>
      </div>
  </div>
<hr style="margin-top: 4px;">
</div>
